@model Zoomsocks.WebUI.ViewModels.DisplayCategoryViewModel

@{
    ViewBag.Title = Model.Category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/frontend/zoomsocks/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        @Model.Category.Name
    </h2>
</section>

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <span class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Other categories:
                </span>
            </div>
        </div>

        <div class="row isotope-grid">
            @if (Model.Products.Count() == 0)
            {
                <h3>No products found.</h3>
            }
            @foreach (var product in Model.Products)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="@product.Image" alt="@product.Name">

                            <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                Details
                            </a>
                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    @product.Name
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Load more -->
        <div class="flex-c-m flex-w w-full p-t-45">
            <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                Load More
            </a>
        </div>
    </div>
</div>

@Html.Partial("_QuickViewProduct")